@font-face{
   font-family: 'Roboto';
   src: url(./Assets/Fonts/Roboto-Regular.ttf);
   font-weight: 400 ;
}
@font-face{
   font-family: 'Roboto';
   src: url(./Assets/Fonts/Roboto-Bold.ttf);
   font-weight: 700;
}

@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: 
        url('../src/Assets/Fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../src/Assets/Fonts/roboto-v29-latin-regular.woff') format('woff'); 
 }
 
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: 
        url('../src/Assets/Fonts/roboto-v29-latin-700.woff2') format('woff2'), 
        url('../src/Assets/Fonts/roboto-v29-latin-700.woff') format('woff'); 
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "roboto";
}